.widget-box {
  display: flex;
  /*justify-content: flex-end;*/
  justify-content: center;
}

.widget-container {
  /*width: 20%;*/
  /*min-width: 250px;*/
  display: flex;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  /*.widget-box {*/
  /*  justify-content: center;*/
  /*}*/
  .weather-informer {
    font-size: 1rem;
  }
  .widget-container {
    flex-direction: column;
    width: 80%;
  }
}
